{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div style="margin-top: 100px">  
    <center><p class="h2 text-primary mt-2">Offers:</p></center> 

    <table class="table table-bordered">
              
              
      <thead class="thead-light">
        <tr>
          <th scope="col">Product code</th>
          <th scope="col">Product</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">Description</th>
          <th scope="col">Accept?</th>
          
        </tr>
      </thead>
      
      
      <tbody>
        {% if offers_sports %}
          {% for item in offers_sports %}
            <tr class="table-success">
              <td>{{ item.code }}</td>
              <td>{{ item.product }}</td>
              <td>{{ item.brand }}</td>
              <td>{{ item.product_model }}</td>
              <td>{{ item.short_description }}</td>
              <td><a href="#">Accept this offer!</a></td>
            </tr>
          {% endfor %}
      {% endif %}
      </tbody>
    </table>


  </div>
</div>


  
{% endblock %}